In [9]:
import trimet_plan_game_reset as tpg
import geopandas as gpd

In [15]:
origin_str = "45.512908, -122.711987"
destination_str = "45.510896, -122.611478"
planner_response = tpg.call_planner(origin_str, destination_str)

In [4]:
itineraries_df = tpg.get_itinerary_paths(planner_response)
itineraries_df.head(3)

,itin_idx,totalTime,walkTime,transitTime,waitingTime,walkDistance,leg_id,route_id,mode,fromStopCode,fromName,toStopCode,toName,legGeometry
0,0,3579,1112,2026,441,1231.675298,0,WALK,WALK,,Origin,10120,Washington Park MAX Station,"LINESTRING (-122.71185 45.5126, -122.71201 45...."
0,0,3579,1112,2026,441,1231.675298,1,90,TRAM,10120,Washington Park MAX Station,8336,Yamhill District MAX Station,"LINESTRING (-122.71634 45.51062, -122.71593 45..."
0,0,3579,1112,2026,441,1231.675298,2,WALK,WALK,8336,Yamhill District MAX Station,11956,SW Main & 2nd,"LINESTRING (-122.67417 45.51715, -122.67416 45..."

In [6]:
itineraries_reduced, itinerary_routes_reduced = tpg.create_intinerary_gdf_and_reduce(itineraries_df)
itineraries_reduced.head(3)

,itin_idx,totalTime,walkTime,transitTime,waitingTime,walkDistance,leg_id,route_id,mode,fromStopCode,fromName,toStopCode,toName,legGeometry,route_id_combo
0,0,3579,1112,2026,441,1231.675298,0,WALK,WALK,,Origin,10120,Washington Park MAX Station,"LINESTRING (-122.71185 45.51260, -122.71201 45...",90 to 14 to 14
1,0,3579,1112,2026,441,1231.675298,1,90,TRAM,10120,Washington Park MAX Station,8336,Yamhill District MAX Station,"LINESTRING (-122.71634 45.51062, -122.71593 45...",90 to 14 to 14
2,0,3579,1112,2026,441,1231.675298,2,WALK,WALK,8336,Yamhill District MAX Station,11956,SW Main & 2nd,"LINESTRING (-122.67417 45.51715, -122.67416 45...",90 to 14 to 14

In [8]:
itinerary_routes_reduced

,itin_idx,totalTime,walkTime,transitTime,waitingTime,walkDistance,leg_id,route_id,mode,fromStopCode,fromName,toStopCode,toName,legGeometry,route_id_combo
1,0,3579,1112,2026,441,1231.675298,1,90,TRAM,10120,Washington Park MAX Station,8336,Yamhill District MAX Station,"LINESTRING (-122.71634 45.51062, -122.71593 45...",90 to 14 to 14
3,0,3579,1112,2026,441,1231.675298,3,14,BUS,11956,SW Main & 2nd,3639,SW Madison & 4th,"LINESTRING (-122.67566 45.51521, -122.67594 45...",90 to 14 to 14
14,2,3723,1395,1737,591,1716.685657,3,15,BUS,14191,SW Alder & 6th,442,SE Belmont & 50th,"LINESTRING (-122.67846 45.51979, -122.67830 45...",90 to 15

In [7]:
itineraries_reduced[itineraries_reduced['itin_idx']==0]

,itin_idx,totalTime,walkTime,transitTime,waitingTime,walkDistance,leg_id,route_id,mode,fromStopCode,fromName,toStopCode,toName,legGeometry,route_id_combo
0,0,3579,1112,2026,441,1231.675298,0,WALK,WALK,,Origin,10120,Washington Park MAX Station,"LINESTRING (-122.71185 45.51260, -122.71201 45...",90 to 14 to 14
1,0,3579,1112,2026,441,1231.675298,1,90,TRAM,10120,Washington Park MAX Station,8336,Yamhill District MAX Station,"LINESTRING (-122.71634 45.51062, -122.71593 45...",90 to 14 to 14
2,0,3579,1112,2026,441,1231.675298,2,WALK,WALK,8336,Yamhill District MAX Station,11956,SW Main & 2nd,"LINESTRING (-122.67417 45.51715, -122.67416 45...",90 to 14 to 14
3,0,3579,1112,2026,441,1231.675298,3,14,BUS,11956,SW Main & 2nd,3639,SW Madison & 4th,"LINESTRING (-122.67566 45.51521, -122.67594 45...",90 to 14 to 14
4,0,3579,1112,2026,441,1231.675298,4,14,BUS,3639,SW Madison & 4th,7651,SE 50th & Clay,"LINESTRING (-122.67855 45.51524, -122.67837 45...",90 to 14 to 14
5,0,3579,1112,2026,441,1231.675298,5,WALK,WALK,7651,SE 50th & Clay,,Destination,"LINESTRING (-122.61156 45.51156, -122.61154 45...",90 to 14 to 14